{% load static %}
<!DOCTYPE html>


<html>

  <head>

    <title> Las aventuras de mi gato Lucky </title>

    <meta http-equiv = "Content-Type" content = "text / html; charset = utf-8">
    <meta name = "description" content = "Las aventuras de mi gato favorito Lucky, con historias, fotos y películas">
    <meta name = "keywords" content = "cat, Lucky, pet, animal">


  </head>

  <body>

    <form method="post" class="form-send" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Subir Archivo</button>
    </form>
   
    {%if analisis %}

    <div>Resultados del archivo {{nombreArchivo}}</div>
    <div>

     <div>
         <div>Secuencia de números encontrados </div>
     {% for elemento in numeros %}
         <div>{{ elemento }}</div>
     {% endfor %}
     </div>

     <div>
         <div>Secuencia de números seguidos de letras encontrados </div>
           {% for elemento in numerosLetras%}
         <div>{{ elemento }}</div>
         {% endfor %}
     </div>
     <div>
         <div>Secuencia de 3 vocales iguales encontradas </div>
         {% for elemento in vocales %}
         <div>{{ elemento }}</div>
        {% endfor %}
     </div>
     <div>
         <div>Secuencia de palabras con caracteres especiales </div>
         {% for elemento in caracteres %}
         <div>{{ elemento }}</div>
        {% endfor %}
     </div>
     {%endif%}
  </body>

</html>