{% load static %}
<!DOCTYPE html>


<html>

<head>

  <title> Las aventuras de mi gato Lucky </title>

  <meta http-equiv="Content-Type" content="text / html; charset = utf-8">
  <meta name="description" content="Las aventuras de mi gato favorito Lucky, con historias, fotos y películas">
  <meta name="keywords" content="cat, Lucky, pet, animal">
  <link rel="stylesheet" href="{% static 'css/patrones.css' %}">
  
</head>

<body>
  <nav class="navBar">
    <div class="title">
      <h1>Patrones</h1>
    </div>
    <ul class="navItems">
      <li>
          <a href="/Conversor/menu">
            Inicio
          </a>
        </li>
      </li>
      <li class="drop">
        Conversiones
        <div class="dropDown">
          <a class="dropdown-item" href="{% url 'conversor:binario' %}">Binario</a>
          <a class="dropdown-item" href="{% url 'conversor:hexadecimal' %}">Hexadecimal</a>
          <a class="dropdown-item" href="{% url 'conversor:octal' %}">Octal</a>
          <a class="dropdown-item" href="{% url 'conversor:decimal' %}">Decimal</a>
        </div>
      </li>
      <li class="drop">
        Patrones
        <div class="dropDown">
          <a class="dropdown-item" href="{% url 'patrones:cargarArchivo' %}">Analizador</a>
          <a class="dropdown-item" href="{% url 'patrones:listaArchivos' %}">Lista de archivos</a>
        </div>
      </li>
    </ul>
  </nav>
  <main class="container">
    <section class="content">

      <form method="post" class="form-send" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        <div id="uploadBtn" onclick="getFile()">clic para subir archivo</div>
        <div style="height: 0px; width: 0px; overflow:hidden">
          <input type="file" name="myfile" id="upFile" onchange="sub(this)">
        </div>
        <!-- <button type="submit">Subir Archivo</button> -->
      </form>
      
      {%if analisis %}

      <div class="title">Resultados del archivo {{nombreArchivo}}</div>
      <div class="bodyResults">

        <div class="artResult">
          <div class="titleResult">Secuencia de números encontrados </div>
          {% for elemento in numeros %}
          <div class="results">{{ elemento }}</div>
          {% endfor %}
        </div>

        <div class="artResult">
          <div class="titleResult">Secuencia de números seguidos de letras encontrados </div>
          {% for elemento in numerosLetras%}
          <div class="results">{{ elemento }}</div>
          {% endfor %}
        </div>
        <div class="artResult">
          <div class="titleResult">Secuencia de 3 vocales iguales encontradas </div>
          {% for elemento in vocales %}
          <div class="results">{{ elemento }}</div>
          {% endfor %}
        </div>
        <div class="artResult">
          <div class="titleResult">Secuencia de palabras con caracteres especiales </div>
          {% for elemento in caracteres %}
          <div class="results">{{ elemento }}</div>
          {% endfor %}
        </div>
        {%endif%}
        </div>
    </section>
  </main>
 <script src="{% static 'js/patrones.js' %}"></script>
</body>

</html>