* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: poppins, sans-serif;
}

h1 {
  color: #333;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  height: 80%;
  max-height: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    height: 100%;
    gap: 20px;
}
#uploadBtn {
  top: 150px;
  font-family: calibri;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #bbb;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}


input[type="submit"] {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #11a029;
    color: #fff;
    cursor: pointer;
}